NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDTgY-fqS-c0w6Xjn0iX1ilMDEj0CPD9TE
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=internkontroll-8e12a.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=internkontroll-8e12a
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=internkontroll-8e12a.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=176824826520
NEXT_PUBLIC_FIREBASE_APP_ID=1:176824826520:web:1235e540c864b44a2c2eed

